.ProfilePageHeader {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    .editBtn {
        margin-left: auto;
        margin-right: 10px;
    }

    .saveBtn {
        margin-left: 10px;
    }
}

.btnsWrapper {
    margin-left: auto;
}
